<h1>{{ voting.poll.caption }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="/poll/{{ voting.id }}/vote/" method="post">
{% csrf_token %}
{% for question in voting.poll.question_set.all %}
 {{ question.number }}. {{ question.caption }}<br />
 {% for choice in question.choice_set.all %} 
  <input type="radio" name="choice{{ question.number }}" id="choice{{ question.number }}{{ choice.number }}" value="{{ choice.number }}" /> 
  <label for="choice{{ question.number }}{{ choice.number }}">{{ choice.choice }}</label><br /> 
 {% endfor %}
{% endfor %}
<input type="submit" value="Голосовать" />
</form>