<h1>Статистика опросов и голосований</h1>
<ul>
{% for poll in object_list %}
<p><a href="/poll/stats/{{ poll.id }}/">Опрос "{{ poll.caption }}"</a> (<a href="/poll/stats/{{ poll.id }}/tickets/">с именами проголосовавших</a>)</p>
Голосования опроса:
{% for voting in poll.voting_set.all %}
 <li><a href="/poll/stats/voting/{{ voting.id }}/">{{ voting.date_held }}</a> (<a href="/poll/stats/voting/{{ voting.id }}/tickets/">с именами проголосовавших</a>)</li>
{% empty %}
 Для этого опроса не устраивалось голосований.
{% endfor %}

{% empty %}
Опросы отсутствуют.
{% endfor %}
</ul>